.button {
    -fx-pref-height: 120px;
    -fx-pref-width: 350px;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-border-radius: 8px;
    -fx-font-size: 25px;
    -fx-background-color: #f2b179;
    -fx-font-family: "Open Sans";
    -fx-text-fill: #f9f6f2;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(three-pass-box, gray, 5, 0.5, 0, 2);
}

.button:hover {
    -fx-background-color: derive(#f2b179, -5%);
}

.button:pressed {
    -fx-background-color: derive(#f2b179, -10%);
}

.label {
    -fx-font-family: "Open Sans";
    -fx-text-fill: #776e65;
}

.pane {
    -fx-background-color: #eee4da;
}